html {
    scroll-behavior: smooth;
  }
body{
    font-family:'Montserrat', sans-serif;
}
.navbar{
    padding: 20px;
    /*margin-bottom: -30px;*/
     background-color: #ffff;
}
.navbar-brand{
    margin-left: 50px;
}
.nav-link{
    color: black;
    margin-right: 50px;
}
.btn-success{
    background-color: white;
}
/* .bg1{
    background-image: url('img/bgme.png');
    color: #ffffff;
} */

#Me{
    height: 60%;
    /* margin-left:30px; */
    text-align: center;
}
hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    width: 60%;
    box-shadow: 0 0 10px 1px #FC0;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.presentation{
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
}
.presentation h1{
    font-size: 70px;
    margin-top: 80px;

}
.presentation p {
    margin-top: 30px;
}
.presentation img{
  /*height: 350px;*/
  /*width: 350px;*/
  margin-left: 80px;
}
 /*.picture{
    height: 400px;
    width: 100px;
    margin-left: -40px;
}*/
/*#About{
    height: 60%;
    margin-top: 90px;
    text-align: center;
    /* background-color: rgba(255, 225, 0, 0.041);; */

}*/
#About p{
    margin: 70px;
}
.arrow{
  height: 80px;
  /*float: right;*/
  margin-left: 50%;
}
.carousel-item{
    width: 100%; /*width you want*/
    height: 100%; /*height you want*/
    overflow: hidden;
    /*box-shadow: 0 0 10px 1px #FC0;*/
}

/*#portfolio{
    height: 100%;
    margin-top: 80px;
    text-align: center;
}*/
u{
    text-decoration: none;
    border-bottom: 1px solid #FC0;
}
#portfolio h3{
  margin-top: 50px;
}
/*.hovereffect img{
  max-height: 100%;
  max-width: 100%;
  display: block;
}*/

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }

    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }

    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }

    .hovereffect h2{
    text-transform:uppercase;
    color:#fff;
    text-decoration: underline;
    text-align:center;
    position:relative;
    font-size:25px;
    /* background:rgba(0,0,0,0.6); */
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    margin-top: 40px;
    }
    .hovereffect p{
        color: rgb(216, 216, 216);
    }

    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    position:relative;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:30px 0 0;
    padding:7px 14px;
    }

    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }

    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }

    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }

.box{
  padding: 10px;
}

#contact{
    height: 50%;
    margin-top: 50px;
    text-align: center;
     padding: 80px;
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff;
    margin: 3px;
}
.btn-dribbble {
    background: #ea4c89;
    color: #ffffff;
    margin: 3px;
}
.btn-instagram {
    background: #dc4a38;
    color: #ffffff;
    margin: 3px;
}
.btn-github{
    background: #444444;
    color: #ffffff;
    margin: 3px;
}

.footer{
    background-color: #000000;
    text-align: center;
    color: white;

    /* height: 3 */
}
/*.main1{
/* background-color: #BEFFFC;
padding: 50px;
}*/
/*.margin{
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/
.case1{
    margin-top: 50px;
}
#mosque{
  margin-top: 50px;
}

.description{
  margin-left: 20px;
}
.descrition-movie{
  padding: 30px;
}
.trailer{
  margin-left: 50%;
}
.case2{
  margin-left: 30px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
/*.my-image{
  height: 500px;
  width: auto;
  margin-left: 50px;
}
.main-desciption{
  margin-top: 100px;
}*/
@media (max-width: 576px){

  .picture{
    display: none;
  }
  /*#About p{
      margin: 50px;
  }*/
  /*.drawings{
    display: none;
  }*/
  /*.box{
    padding: 10px;
  }
  .email{
    margin-top: 50px;
  }*/
  /*.social{
    margin: 20px;
  }*/
}
